
.responsive-svg-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 800px;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-bottom: 2px solid #827d7d; /* Add a border to the bottom of the header */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container_c1 {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-bottom: 2px solid #827d7d; /* Add a border to the bottom of the header */
}

.split3 {
  width: 40%;
  padding: 50px;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 2px solid #827d7d; /* Add a border to the bottom of the header */
}

.split7 {
  width: 60%;
  padding: 50px;
  box-sizing: border-box;
  overflow: hidden;
  border-left: 2px solid #827d7d; /* Add a border to the bottom of the header */
  border-bottom: 2px solid #827d7d; /* Add a border to the bottom of the header */
}

.split {
  width: 50%;
  padding: 50px;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 2px solid #827d7d; /* Add a border to the bottom of the header */
}

.left {
  float: left;
}

.right {
  float: right;
}

.content {
  background-color: #f1f1f1;
}

img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {
  .split {
      width: 100%;
  }
}
