.responsive-svg-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 600px;
}

header {
  font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  background-color: #004c6d;
  border-bottom: 2px solid #827d7d; /* Add a border to the bottom of the header */
  color: white; /* Text color */
}


#page-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  background-color: #aecdc2;
  height: 100px;
  max-width: 3600px; /* You can adjust the maximum width as needed */
}

#sort-select{
  font-size: 30px; /* You can adjust the size as needed */
  color: #004c6d; /* Text color */
}

#country-select{
  font-size: 30px; /* You can adjust the size as needed */
  color: #004c6d; /* Text color */
}

#page-selection label,
#page-selection select {
  font-size: 30px; /* You can adjust the size as needed */
  color: #004c6d; /* Text color */
}

.aspect {
  background-color: #fdba03; /* Change to the desired background color */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 3600px; /* You can adjust the maximum width as needed */
  margin-top: 20px; /* You can adjust the top margin as needed */
}

.aspect h1 {
  font-size: 40px; /* You can adjust the size as needed */
  margin-bottom: 10px; /* You can adjust the bottom margin as needed */
  color: white; /* Text color */
}

.center-image {
  text-align: center;
}

.center-image img {
  max-height: 500px; /* Adjust the height as needed */
  max-width: 2000px; /* Maintain aspect ratio */
}

body {
  font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white; /* Background color */
  color: black; /* Default text color */
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container_c1 {
  text-align: center;
  padding: 20px;
  background-color: white; /* Container background color */
  border-bottom: 2px solid #827d7d; /* Add a border to the bottom of the header */
}

.button {
  padding: 12px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #ffeb8a; 
  border-radius: 12px;
  border: 2px solid #ffeb8a;
  transition-duration: 0.4s;
  border: 2px solid #000000;
}
.button:hover {
  background-color: #ffeb8a;
}

.split3 {
  width: 40%;
  padding: 50px;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 2px solid #827d7d; /* Add a border to the bottom of the header */
}

.split7,
.split {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 2px solid #827d7d; /* Add a border to the bottom of the header */
}

.left {
  float: left;
}

.right {
  float: right;
}

.content {
  background-color: #ffeb8a;
  font-size: 20px; /* Content background color */
}

img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {
  .split {
      width: 100%;
  }
}

/* Add the rest of your existing styles */